.form-group {
  position: relative;
  margin: 0 0 21.5px;
  &.has-error {
    .form-control:focus {
      border-color: #ff4e4e;
    }
  }
  .form-control {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
  }
  .form-control,
  .form-control:focus,
  input[type=search],
  input[type=password],
  input[type=text] {
    position: relative;
    border: 2px solid #d5d6d7;
    border-radius: 5px;
    display: block;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4;
    margin: 0;
    padding: 8px 25px 9px 12px;
    width: 100%;
    background: 0 0;
    background-color: transparent;
    text-align: left;
    color: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    outline: none;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .1);
  }
  label {
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 0;
    color: #a5a6a7;
    transition: .3s;
    pointer-events: none;
  }
  .help-block {
    position: absolute;
    display: inline-block;
    padding: 0 5px;
    font-size: .93em;
    line-height: 1.75em;
    margin: -2px 0 0 10px;
    color: #fff;
    background: #ff4e4e;
    font-weight: bold;
    &.with-errors {
      z-index: 10;
    }
    &:after {
      content: " ";
      position: absolute;
      left: 5px;
      bottom: 100%;
      width: 0;
      height: 0;
      border-bottom: 10px solid #ff4e4e;
      border-right: 10px solid transparent;
    }
  }
}

.form-group .form-control:focus ~ label,
.form-group.form-group-focus .form-control ~ label {
  color: #04b4e0;
  top: -20px;
  left: 0;
  z-index: 1;
  font-size: 13px;
}

.btn-primary, .btn-secondary, button, input[type=button], input[type=submit] {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding: .8em 2.1em;
  margin-bottom: .75em;
  margin-right: .25em;
  font-size: 1em;
  line-height: 1.2;
  outline: 0;
  border: 2px solid #04b4e0;
  color: #222;
  text-shadow: none;
  background-color: #fff;
  border-radius: 30px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .22);
  cursor: pointer;
  &:hover {
    background-color: #04b4e0;
    color: #fff;
    border: 2px solid #04b4e0;
  }
}

.g-recaptcha {
  margin-bottom: 20px;
}
